<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,646},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,646},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_214.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_209.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_212.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_213.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_314.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_315.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_303.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_305.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_306.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_307.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_308.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_312.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_313.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_414.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_415.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_403.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_404.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_405.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_406.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_407.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_408.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_409.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_410.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_411.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_412.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_413.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_516.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_517.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_508.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1550,809}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aec77a6895eddcbcbbdba450be55a65c$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
